body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  margin: 3%;
}

a {
  text-decoration: none;
}
